<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--尿仪-->
    <add key="EMPUI" value="COM11"/>
    <add key="filefrom" value="\\\\QC\\cworkccs\\" />
    <add key="filefromNew" value="\\QC\超声影像系统\picture" />
    <add key="filefrom2" value="\\\\WWW20180104\\QCSoft\\BCPicPath" />
    <!--X光照片路径-->
    <add key="ChestXBMPFrom" value="D:\QCSoft\IMAGE" />
  </appSettings>
  <connectionStrings>
    <!--本地-->
    <add name="DBConnectionString" connectionString="Server=localhost;Database=kangshuo_db;Uid=root;Pwd=qckj;Connection Timeout=100"
      providerName="MySql.Data.MySqlClient" />

    <!--视力-->
    <add name="QCVsiual" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\VisualChatDataBase.mdb;" />
    
    <!--心电-->
    <add name="sqlite" connectionString="Data Source=c:\QCMini\DB.DB;Pooling=true;FailIfMissing=false" />
    
    <!--生化-->
    <add name="QCshenghua"  connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\QCSoft\PersonTestInfo.mdb;"/>
    <add name="QCshenghua2"  connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\QCSoft\PersonTestInfo.mdb;"/>
    
    <!--血球-->
    <add name="QCxueqiu" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\QCMini\PersonTestInfo.mdb;" />
    
    <!--离子-->
    <add name="QClizi"  connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\QCSoft\PersonTestInfo.mdb;"/>
    
    <!--血压-->
    <!--<add name="BPsqlite" connectionString="Data Source=\\\\qc\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false" />-->
    <add name ="BPsqlite" connectionString="Data Source=C:\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    
    <!--血糖-->
    <add name ="SugarSqlite" connectionString="Data Source=C:\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    
    <!--体温体重-->
    <add name ="BMSqlite" connectionString="Data Source=C:\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    
    <!--身高体重-->
    <add name ="BHSqlite" connectionString="Data Source=C:\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    
    <!--尿仪-->
    <add name ="EMPSqlite" connectionString="Data Source=C:\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    <add name="EMPSqlite2"  connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\QCSoft\PersonTestInfo.mdb;"/>
    
    <!--中医体质-->
    <add name ="OldSqlite" connectionString="Data Source=C:\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    
    <!--体检问询-->
    <add name ="MESqlite" connectionString="Data Source=\\\\QC\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    
    <!--B超-->
    <add name="firebird" connectionString="character set=NONE;data source=QC;initial catalog=D:\cworkccs\病例.g_b;user id=SYSDBA;Password=masterkey" />
    
    <!--新B超-->
    <add name="TypeB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\QC\超声影像系统\Data\bc.mdb;" />
    <!--X光-->
    <add name="ChestX"  connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\QCSoft\DR.mdb;"/>
  </connectionStrings>
</configuration>