<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <!--本地-->
    <add name="DBConnectionString" connectionString="Server=localhost;Database=qcpaddb;Uid=root;Pwd=qckj;Connection Timeout=100" providerName="MySql.Data.MySqlClient"/>

    <!--心电-->
    <add name="firebird" connectionString="character set=NONE;data source=QC;initial catalog=C:\cworkccs\病例.g_b;user id=SYSDBA;Password=masterkey"/>

    <!--<add name="firebird" connectionString="character set=NONE;data source=localhost;initial catalog=D:\cworkccs\病例.g_b;user id=SYSDBA;Password=masterkey" />-->
  </connectionStrings>

  <appSettings>
    <add key="filefrom" value="\\\\QC\\cworkccs\\"/>
  </appSettings>
  
  <system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient"/>
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
		</DbProviderFactories>
	</system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
