<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommonUtilities.WebServiceHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <CommonUtilities.WebServiceHelper.Properties.Settings>
        <setting name="CommonUtilities_WebServiceHelper_WebService_MedivaService"
          serializeAs="String">
          <value>http://116.255.245.244:8090/Mediva?wsdl</value>
        </setting>
        <setting name="Utilities_WebServiceHelper_WebService_MedivaService"
          serializeAs="String">
          <value>http://hwtest.xjjxzy.com:8000/Service/MedivaService.asmx</value>
        </setting>
      </CommonUtilities.WebServiceHelper.Properties.Settings>
    </applicationSettings>
</configuration>