<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Server=localhost;Database=kangshuo_db;Uid=root;Pwd=qckj;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="EMPUI" value="COM9"/>

    <!--宝威新尿机 EMP_New               原小尿机 EMP-->
    <add key="Type" value="EMP_New"/>
  </appSettings>
</configuration>
