<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Server=172.16.152.118;Database=qcpaddb;Uid=root;Pwd=qckj;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
