<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <requiredRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="Restrict" value="on" />
    <add key="idCardType" value="1" />
    <add key="AutoLogin" value="1" />
    <add key="BarcodePrinter" value="LK480(U) 1" />
    <add key="PrinterPNPDeviceID" value="USB\VID_1560&amp;PID_1560" />
    <add key="Devicefrom" value="1" />
    <add key="dbVersion" value="1.03" />
    <add key="CHITBM" value="COM3" />
    <add key="CHITBG" value="COM5" />
    <add key="CHITBP" value="COM7" />
    <add key="QCTHEM" value="COM9" />
    <add key="QCTBT" value="COM26" />
    <add key="EMPUI" value="COM11" />
    <add key="ALKTF" value="COM13" />

    <add key="QCCHW" value="COM5"/>
    <add key="filefrom" value="\\\\QC\\cworkccs\\" />
    <add key="ECGFileFrom" value="\\QC\勤成ECG\outFile" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--是否直连终端-->
    <add key="IsConnectionServer" value="N"/>

    <!--B超及心电报告路径-->
    <add key="BChaoReport" value="\\QC\TypeB" />
    <add key="ECGReport" value="D:\QCSoft\ECGPDF\outFile" />

    <!--身份证照片路径-->
    <add key="PhotoPath" value="\\Server-PC\photo\\" />

    <!--指纹路径-->
    <add key="FingerPath" value="D:\QCSoft\Finger\" />

    <!--签字路径-->
    <add key="SignPath" value="D:\QCSoft\Sign\" />

    <!--拍照照片路径-->
    <add key="PhotosPath" value="\\Linda-PC\\LL\\photos\\" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.94.0" newVersion="1.0.94.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--本地-->
    <add name="DBConnectionString" connectionString="Server=172.16.152.118;Database=qcpaddb;Uid=root;Pwd=qckj;Connection Timeout=100" providerName="MySql.Data.MySqlClient" />
    <!--心电-->
    <add name="sqlite" connectionString="Data Source=\\\\qc\勤成ECG\DB.DB;Pooling=true;FailIfMissing=false" />
    <!--生化-->
    <add name="QCshenghua"  connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\QCSoft\PersonTestInfo.mdb;"/>
    <add name="QCshenghua2"  connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\QCSoft\PersonTestInfo.mdb;"/>
    <!--血球-->
    <add name="QCxueqiu" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\192.168.0.150\QCSoft\PersonTestInfo.mdb;" />
    <!--血压-->
    <!--<add name="BPsqlite" connectionString="Data Source=\\\\qc\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false" />-->
    <add name ="BPsqlite" connectionString="Data Source=D:\QCSoft\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    <!--体温体重-->
    <add name ="BMSqlite" connectionString="Data Source=\\\\BM\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    <!--身高体重-->
    <add name ="BHSqlite" connectionString="Data Source=\\\\BH\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    <!--尿仪-->
    <add name ="EMPSqlite" connectionString="Data Source=D:\QCSoft\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    <!--中医体质-->
    <add name ="OldSqlite" connectionString="Data Source=C:\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    <!--体检问询-->
    <add name ="MESqlite" connectionString="Data Source=\\\\ME\QCmini\KangShuoTechMiniDB.db;Pooling=true;FailIfMissing=false"/>
    <!--B超-->
    <add name="firebird" connectionString="character set=NONE;data source=QC;initial catalog=D:\cworkccs\病例.g_b;user id=SYSDBA;Password=masterkey" />
    <!--远程服务器-->
    <add name="ServerConnectionString" connectionString="Server=124.128.220.83;Database=qcpaddb;Uid=root;Pwd=qckj;port=3306;pooling=false;Connection Timeout=100" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>