<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Restrict" value="on" />
    <add key="idCardType" value="1" />
    <add key="AutoLogin" value="1" />
    <add key="BarcodePrinter" value="LK480(U) 1" />
    <add key="PrinterPNPDeviceID" value="USB\VID_1560&amp;PID_1560" />
    <add key="Devicefrom" value="1" />
    <add key="dbVersion" value="1.03" />
    <add key="CHITBM" value="COM4"/>
    <add key="CHITBG" value="COM6"/>
    <add key="CHITBP" value="COM8"/>
    <add key="QCTHEM" value="COM9"/>
    <add key="EMPUI" value="COM12"/>
    <!--<add key="ALKTF" value="COM14"/>-->
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Server=localhost;Database=qcpaddb;Uid=root;Pwd=qckj;"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
