<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Server=localhost;Database=kangshuo_db;Uid=root;Pwd=qckj;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="CHITBM" value="COM7"/>
    <!--新电子秤-->
    <add key="TFDeviceName" value="QCABM"/>
    <!--老电子秤-->
    <!--<add key="TFDeviceName" value="CHITBM"/>-->
    
    <add key="CType" value="BM_N"/>
  </appSettings>
</configuration>
 